{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div>
    <form action="add-todo" method="post">
      <label for="title"> Enter new task</label>
      <input type="text" name="title" required>
      <button type="submit" value="Add">Add</button>
    </form>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Open Items</h2>
      <ul class="list-group mb-4" style="list-style-type: none;">
        {% for item in view_model.open_items %}
        <li name="" style="width: 400px;margin-bottom: 10px;border: 1px solid #ccc;border-radius: 5px;padding:5px; ">
          {{ item.title }} 
          {% if item.status == 'open' %}
          <form style="float:right;" action="close-todo" method="post">
            <button type="submit" value="submit">Mark Complete</button>
            <input type="hidden" name="id" value="{{item._id}}" required>
          </form>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Closed Items</h2>
      <ul class="list-group mb-4" style="list-style-type: none;">
        {% for item in view_model.done_items %}
        <li name="" style="width: 400px;margin-bottom: 10px;border: 1px solid #ccc;border-radius: 5px;padding:5px; ">
          {{ item.title }} 
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}